body{
	background: #000;
}

h1, h2, h3, h4, h5{
	color: #eee;
}

a{
	color: #eee;
}

.guide_top, .guide_bottom{
	color: #000;
}

.guide_top, .guide_bottom,{
    text-align: left;
    font-family: 'Droid Sans Mono', sans-serif;
    font-size: 32px;
    color: #000;
}

.notch{
    text-align: center;
    font-family: 'Droid Sans Mono', sans-serif;
    color: #555555;    
    /* 600px+; small tablet portrait */
    padding-top: 6px;
    font-size: 16px;
}

.glance_start, .glance_end, .glance_main{
	color: #fff;
}

.page-header{
	border-bottom: 1px solid #333;
}

.minititle{
	color: #555;
}

#guniologo{
  -webkit-filter: invert(100%);  
  width: 50%;
}